@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import "upload.css";
@import "feature.css";
@import "nofication.css";
@import "dialog-box.css";
@import "scroll.css";
@import "media-screen.css";
@import "word explanation.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red-mark, .green-mark{
    box-sizing: content-box;
    padding: 2px;
}

.red-mark{
    cursor: pointer;
    background-color: rgb(255, 221, 224);
    color:rgb(199,37,78);
    border-radius: 3px;
}

.green-mark{
    background-color: rgb(178, 252, 194);
    color: rgb(58,129,110);
    border-radius: 3px;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(45,62,80);

}


main{
    display: flex;
    margin: 20px auto;
    justify-content: center;
}



textarea, .resultText{
    flex-basis: 40%;
    resize: none;
    height: 70vh;
    outline: 0;
    padding: 20px;
    border-width: 0;
    margin-left: 1px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: white;
    justify-content: center;
    text-align: justify;
    line-height: 200%;
}

.resultText{
    overflow: auto;
    /*text-indent: 20px;*/
    text-align: justify;
    font-size: small;
    line-height: 200%;
}

#processingText, #fixText{
    width: 100%;
    position: relative;
}

.pop-up-modal {
    position: fixed;
    padding: 8px 32px;
    background-color: #cc0000;
    color: white;
    opacity: 0;
    text-transform: capitalize;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    transition: bottom ease-in-out 0.3s, opacity ease-in-out 0.3s;
    top: 0;
    left: 0;
}

.pop-up-modal h2 {
    padding: 6px;
}

.pop-up-modal p {
    font-size: 14px;
    margin-bottom: 6px;
}

.pop-up-modal.display {
    bottom: 32px;
    opacity: 1;
}

footer{
    align-items: center;
    color: white;
    text-align: center;
    padding: 25px;
    font-weight: bolder;
    margin-top: 10px;
    background-color: rgb(34, 34, 34);
}



